// bower:scss
// endbower
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
body{
  scroll-behavior: smooth;
}
#first-frame{
  width: 100%;
  height: 100vh;
  background: url(../images/first-frame.png);
  background-position: right center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-color: #eaeaea;
}
#first-frame h1{
  font-family: Lato, sans-serif;
  color: #fff;
  text-shadow: 0 2px #aaa; 
  font-weight: bold;
  font-size: 3.375em;
  letter-spacing: .2em;
  margin-top: 15%;
  text-align: center;
}
#first-frame h2{
  vertical-align: center;
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 1.2em;
  text-align: center;
  margin-top: 5%;
}
.logo-frst-frame{
  margin: 0 auto;
  display: block;
  margin-top: -25%;
}
.bottom-logo{
  display: block;
  margin-top: 37%;
  margin-left: 49%;
}
#second-frame{
  background: #fff;
  width: 100%;
  height: 630px;

}
#second-frame .about-us {
  width: 100%;
  margin: 100px auto;
  text-align: center;
  margin-top: 11%;
  border: 2px solid;
  border-top-color: transparent;
  padding-top: -2px;
}
#second-frame .about-us h1 {
  font-family: Lato, sans-serif;
  font-weight: bold;
  margin: 0 auto;
  font-size: 2em;
  text-transform: uppercase;
  line-height: 1.5;
  margin-top: -.75em;
  display: flex;
  width: 100%;
  align-items: center;
}
#second-frame .about-us p{
  text-align: center;
  font-family: Lato, sans-serif;
  font-weight: lighter;
  padding: 10px 25px 25px 25px;
  font-size: 1.3em;
}
#second-frame .about-us h1::before,
#second-frame .about-us h1::after {
  content: '';
  border-top: 2px solid;
  flex-grow: 1;
  //margin: 0 1em;
}
#second-frame .about-us h1::before {
  margin-right: 1em;
}
.about-us h1::after {
  margin-left: 1em;
}
#third-frame{
  width: 100%;
  height: 486px;
  background: url(../images/third-frame.png);
  background-position: right center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-color: #eaeaea;

}
#third-frame .services {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-top: 8.5%;
  border: 2px solid;
  border-color: #fff;
  border-top-color: transparent;
}
#third-frame .services h1 {
  font-family: Lato, sans-serif;
  font-weight: bold;
  margin: 0 auto;
  font-size: 2em;
  text-transform: uppercase;
  line-height: 1.5;
  margin-top: -.75em;
  display: flex;
  width: 100%;
  align-items: center;
  color: #fff;
}
#third-frame .services p{
  text-align: center;
  font-family: Lato, sans-serif;
  font-weight: lighter;
  padding: 10px 25px 25px 25px;
  font-size: 1.3em;
  color: #fff;
}
#third-frame .services h1::before,
#third-frame .services h1::after {
  content: '';
  border-top: 2px solid;
  border-top-color: #fff;
  flex-grow: 1;
  //margin: 0 1em;
}
#third-frame .services h1::before {
  margin-right: 1em;
}
#third-frame .services h1::after {
  margin-left: 1em;
}
#fourth-frame{
  width: 100%;
  height: 1415px;
  background: #fff;
}
#fourth-frame .what-we-do {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-top: 10%;
  border: 2px solid;
  border-top-color: transparent;
}
#fourth-frame .what-we-do h1 {
  font-family: Lato, sans-serif;
  font-weight: bold;
  margin: 0 auto;
  font-size: 2em;
  text-transform: uppercase;
  line-height: 1.5;
  margin-top: -.75em;
  display: flex;
  width: 100%;
  align-items: center;
}
#fourth-frame .what-we-do p{
  text-align: center;
  font-family: Lato, sans-serif;
  font-weight: lighter;
  padding: 10px 25px 25px 25px;
  font-size: 1.3em;
}
#fourth-frame .what-we-do h2{
  font-family: Lato, sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  padding-top: 40px;
  padding-bottom: 15px;
}
#fourth-frame .what-we-do .indent{
  -moz-transition: all 1s ease-out;
 -o-transition: all 1s ease-out;
 -webkit-transition: all 1s ease-out;
  padding-top: 50px;
}
#fourth-frame .what-we-do .indent:hover{
   -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}
#fourth-frame .devider{
   padding-bottom: 50px;
   max-width: 100%;
}
#fourth-frame .what-we-do h1::before,
#fourth-frame .what-we-do h1::after {
  content: '';
  border-top: 2px solid;
  flex-grow: 1;
  //margin: 0 1em;
}
#fourth-frame .what-we-do h1::before {
  margin-right: 1em;
}
#fourth-frame .what-we-do h1::after {
  margin-left: 1em;
}
#fifth-frame{
  width: 100%;
  height: 483px;
  background: #fff;
}
#fifth-frame ul {
  list-style: none;
}
#fifth-frame ul li {
  display: inline-block;
  height: 200px;
  margin-bottom: 5px;
  margin-left: 3px;
}
#fifth-frame .top-works{
  width: 546px;
  height: 235px;
  background: url(../images/top-works.png);
    background-position: right center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
#fifth-frame .join, #fifth-frame li .join a{
  width: 791px;
  height: 235px;
  background: url(../images/join.png);
    background-position: right center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
#fifth-frame .market{
  width: 546px;
  height: 235px;
  background: url(../images/market.png);
    background-position: right center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
#fifth-frame .works-top{
  width: 546px;
  height: 235px;
  background: url(../images/works-top.png);
    background-position: right center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
#fifth-frame .lable{
  width: 791px;
  height: 235px;
  background: url(../images/lable.png);
    background-position: right center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
#fifth-frame .kyiv{
  width: 546px;
  height: 235px;
  background: url(../images/kyiv.png);
    background-position: right center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
#fifth-frame ul a { 
  display: inline-block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}
#fifth-frame ul a p{
  text-decoration: none;
  color: #fff;
  margin-top: 195px;
  margin-left: 10px;
  font-family: Lato, sans-serif;
  font-weight: bold;
  font-size: 2em;
  text-transform: uppercase;
}