@media screen and (max-width: 1440px){
	.logo-frst-frame{
		visibility: hidden;
	}
	.bottom-logo{
		visibility: hidden;
}
}
@media screen and (max-width: 620px){
	#first-frame h2{
 		 visibility: hidden;
}
}
@media screen and (max-width: 440px) {
	#first-frame h1{
		font-size: 2em;
	}
}
@media screen and (max-width: 1675px) and (min-width: 1200px){
	#first-frame{
  		width: 100%;
 		height: 1072px;
  		background: url(../images/first-frame-1675.png);
  		background-position: right center;
  		background-repeat: no-repeat;
  		background-size: cover;
  		position: relative;
  		background-color: #eaeaea;
}
}
@media screen and (max-width: 1200px) and (min-width: 768px){
	#first-frame{
  		width: 100%;
 		height: 1072px;
  		background: url(../images/first-frame-1200.png);
  		background-position: right center;
  		background-repeat: no-repeat;
  		background-size: cover;
  		position: relative;
  		background-color: #eaeaea;
}
}
@media screen and (max-width: 768px) and (min-width: 320px){
	#first-frame{
  		width: 100%;
 		height: 1072px;
  		background: url(../images/first-frame-768.png);
  		background-position: right center;
  		background-repeat: no-repeat;
  		background-size: cover;
  		position: relative;
  		background-color: #eaeaea;
}
}
@media screen and (max-width: 320px) and (min-width: 100px){
	#first-frame{
  		width: 100%;
 		height: 1072px;
  		background: url(../images/first-frame-320.png);
  		background-position: right center;
  		background-repeat: no-repeat;
  		background-size: cover;
  		position: relative;
  		background-color: #eaeaea;
}
}
@media (min-width: 560px) {
	#second-frame .about-us{
		max-width: 50%;
	}
	#third-frame .services {
  		max-width: 50%;
}
	#fourth-frame .what-we-do{
		max-width: 50%
}
}
@media (max-width: 560px) {
	#third-frame .services{
  		margin-top: 27%;
	}
	#second-frame .about-us{
		margin-top: 33%;
	}
}
